.body-page {
  padding-top: 50px;
}

.ng-star-inserted {
  width: 100%;
}
.mat-card {
  width: 300px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  height: 480px;
}
.mat-card-title {
  text-align: center;
}

.mat-raised-button {
  width:30%;
  margin-left:35%;
  margin-right:35%;
}
