<div class="property-wrapper" fxLayout="row" fxLayoutGap="12" fxLayoutAlign="center start">
  <mat-card class="box-big">
    <mat-card-header>
      <mat-card-title>New property</mat-card-title>
    </mat-card-header>
    <div>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="35">
            <h3>Information</h3>
            <form [formGroup]="form" class="property-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput id="title" name="title" [formControlName]="'title'"
                       placeholder="Title"/>
                <ng-container
                  *ngIf="getControl('title')?.invalid && (getControl('title')?.dirty || getControl('title')?.touched)">
                  <mat-hint style="color: red" align="end" *ngIf="getControl('title')?.errors?.['required']">Required
                    field
                  </mat-hint>
                  <mat-hint style="color: red" align="end" *ngIf="getControl('title')?.errors?.['minlength']">Min length
                    is 3
                  </mat-hint>
                </ng-container>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput name="description" [formControlName]="'description'"></textarea>
                <ng-container
                  *ngIf="getControl('description')?.invalid && (getControl('description')?.dirty || getControl('description')?.touched)">
                  <mat-hint style="color: red" align="end" *ngIf="getControl('description')?.errors?.['required']">
                    Required field
                  </mat-hint>
                  <mat-hint style="color: red" align="end" *ngIf="getControl('description')?.errors?.['minlength']">Min
                    length is 12
                  </mat-hint>
                </ng-container>
              </mat-form-field>

              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Price</mat-label>
                      <input matInput type="number" name="price" formControlName="price" placeholder="Price">
                      <span matPrefix>$&nbsp;</span>
                      <span matSuffix>.00</span>
                      <ng-container
                        *ngIf="getControl('price')?.invalid && (getControl('price')?.dirty || getControl('price')?.touched)">
                        <mat-hint style="color: red" align="end" *ngIf="getControl('price')?.errors?.['required']">
                          Required field
                        </mat-hint>
                      </ng-container>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Bedroom</mat-label>
                      <input matInput type="number" name="bedroom" formControlName="bedroom" placeholder="Bedroom">
                      <ng-container
                        *ngIf="getControl('bedroom')?.invalid && (getControl('bedroom')?.dirty || getControl('bedroom')?.touched)">
                        <mat-hint style="color: red" align="end" *ngIf="getControl('bedroom')?.errors?.['required']">
                          Required field
                        </mat-hint>
                        <mat-hint style="color: red" align="end" *ngIf="getControl('bedroom')?.errors?.['min']">Min
                          value is 1
                        </mat-hint>
                        <mat-hint style="color: red" align="end" *ngIf="getControl('bedroom')?.errors?.['max']">max
                          value is 15
                        </mat-hint>
                      </ng-container>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Bathroom</mat-label>
                      <input matInput type="number" name="bathroom" formControlName="bathroom" placeholder="Bathroom">
                      <ng-container
                        *ngIf="getControl('bathroom')?.invalid && (getControl('bathroom')?.dirty || getControl('bathroom')?.touched)">
                        <mat-hint style="color: red" align="end" *ngIf="getControl('bathroom')?.errors?.['required']">
                          Required field
                        </mat-hint>
                        <mat-hint style="color: red" align="end" *ngIf="getControl('bathroom')?.errors?.['min']">Min
                          value is 1
                        </mat-hint>
                        <mat-hint style="color: red" align="end" *ngIf="getControl('bathroom')?.errors?.['max']">max
                          value is 15
                        </mat-hint>
                      </ng-container>
                    </mat-form-field>
                  </td>
                </tr>
              </table>


              <div style="margin-bottom: 16px">
                <mat-button-toggle-group name="purpose" formControlName="purpose" aria-label="Purpose of property">
                  <mat-button-toggle value="Rent">Rent</mat-button-toggle>
                  <mat-button-toggle value="Sell">Sell</mat-button-toggle>
                  <ng-container
                    *ngIf="getControl('purpose')?.invalid && (getControl('purpose')?.dirty || getControl('purpose')?.touched)">
                    <mat-hint style="color: red" align="end" *ngIf="getControl('purpose')?.errors?.['required']">
                      Required field
                    </mat-hint>
                  </ng-container>
                </mat-button-toggle-group>
              </div>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select  name="type" formControlName="type">
                  <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p>
                <mat-slide-toggle name="petFriendly" formControlName="petFriendly">Pet friendly</mat-slide-toggle>
              </p>
            </form>
          </div>
          <div style="margin-left: 16px" fxFlex="35" class="property-form">
            <h3>Address</h3>
            <div class="search-input">
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput [(ngModel)]="search" (keyup)="onSearch($event)" placeholder="Search address here ..."/>
              </mat-form-field>
              <div class="search-suggestion">
                <div class="search-item" *ngFor="let feature of features" (click)="onSelectFeature(feature)">
                  <span>{{feature.place_name}}</span>
                </div>
              </div>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Street">{{payload.address.street}}</textarea>
            </mat-form-field>
            <table class="example-full-width">
              <tr>
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" [(ngModel)]="payload.address.city">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" [(ngModel)]="payload.address.state">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Postal Code</mat-label>
                    <input matInput maxlength="5" [(ngModel)]="payload.address.zipcode" placeholder="Postal code">
                  </mat-form-field>
                </td>
              </tr>
            </table>

          </div>
          <div style="margin-left: 16px" fxFlex="30">
            <h3>Images</h3>
            <div class="upload-images">
              <div class="upload-image">
                <ng-template [ngIf]="images.image1" [ngIfElse]="upload1">
                  <img [src]="images.image1"/>
                </ng-template>
                <ng-template #upload1>
                  <input
                    type="file"
                    hidden
                    id="uploadFile1"
                    (change)="uploadFile($event, 1)"
                    name="uploadFile1"
                    multiple="false"
                    accept="image/*"
                  />
                  <label for="uploadFile1">Add image &nbsp;&nbsp;<mat-icon aria-hidden="false"
                                                                           class="material-icons  color_green"
                                                                           fontIcon="add_circle"></mat-icon>
                  </label>
                </ng-template>
              </div>
              <div class="upload-image">
                <ng-template [ngIf]="images.image2" [ngIfElse]="upload2">
                  <img [src]="images.image2"/>
                </ng-template>
                <ng-template #upload2>
                  <input
                    type="file"
                    hidden
                    id="uploadFile2"
                    (change)="uploadFile($event, 2)"
                    name="uploadFile2"
                    multiple="false"
                    accept="image/*"
                  />
                  <label for="uploadFile2">Add image &nbsp;&nbsp;<mat-icon aria-hidden="false"
                                                                           class="material-icons  color_green"
                                                                           fontIcon="add_circle"></mat-icon>
                  </label>
                </ng-template>
              </div>
              <div class="upload-image">
                <ng-template [ngIf]="images.image3" [ngIfElse]="upload3">
                  <img [src]="images.image3"/>
                </ng-template>
                <ng-template #upload3>
                  <input
                    type="file"
                    hidden
                    id="uploadFile3"
                    (change)="uploadFile($event, 3)"
                    name="uploadFile3"
                    multiple="false"
                    accept="image/*"
                  />
                  <label for="uploadFile3">Add image &nbsp;&nbsp;<mat-icon aria-hidden="false"
                                                                           class="material-icons  color_green"
                                                                           fontIcon="add_circle"></mat-icon>
                  </label>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
    <mat-card-footer align="right">
      <button mat-stroked-button color="accent" class="btn-block" (click)="save()">Create Property</button>
    </mat-card-footer>
  </mat-card>
</div>


<!--<div class="map-container">-->
<!--  <app-map [id]="'new'" [lng]="property.location.coordinates[0]" [lat]="property.location.coordinates[1]"></app-map>-->
<!--</div>-->
