:host {
  max-width: 786px;

}

.example-form {
  min-width: 150px;
  max-width: 320px;
  width: 100%;


}

.example-full-width {
  width: 100%;
}

.property-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;

  .mat-card-footer {
    margin: 0 !important;
  }
}
.box-big {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 30px 30px 20px 30px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 900px;
}

.map-container {
  width: 400px;
  height: 400px;
}


.search-input {
  position: relative;

  .search-suggestion {
    position: absolute;
    top: 48px;
    left: 0;
    background: white;
    border-radius: 6px;
    box-shadow: 0 4px 12px #565656;
    z-index: 10000;

    .search-item {
      padding: 6px 12px;
      font-size: 15px;
    }
  }
}

.upload-images {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .upload-image {
    height: 120px;
    width: 100%;
    background: #ececec;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
    }

    label {
      display: inline-flex;
      line-height: 24px;
    }
  }
}
